{:deps
   {clj-python/libpython-clj {:mvn/version "2.025"}
    cnuernber/dtype-next {:mvn/version "10.113"}
    generateme/fastmath {:mvn/version "2.4.0"}
    hdbseg/hdbseg
    {:local/root
     "../vsa-binary-sparse-distributed-segments-clj/"}

    org.mentat/emmy {:mvn/version "0.32.0"}
    org.mentat/emmy-viewers {:mvn/version "0.3.2"}

    djblue/portal {:mvn/version "0.58.2"}

    quil/quil {:mvn/version "4.3.1563"}

    io.github.nextjournal/clerk {:mvn/version "0.17.1102"}

    ;; -------------------------------
    ;; controlpanel server

    ;; amalloy/ring-gzip-middleware {:mvn/version "0.1.4"}
    ;; com.fbeyer/reitit-ring-defaults {:mvn/version "0.1.0"}

    ;; com.thheller/shadow-css {:mvn/version "0.4.4"}
    ;; com.thheller/shadow-graft {:mvn/version "0.9.0"}

    ;; hiccup/hiccup {:mvn/version "2.0.0-RC1"}
    ;; integrant/integrant {:mvn/version "0.8.1"}
    ;; metosin/reitit {:mvn/version "0.7.0-alpha5"}
    ;; metosin/reitit-malli {:mvn/version "0.7.0-alpha5"}
    ;; metosin/reitit-middleware {:mvn/version "0.7.0-alpha5"}
    ;; ring/ring-defaults {:mvn/version "0.3.4"}
    ;; ring/ring-jetty-adapter {:mvn/version "1.10.0"}


    }
 :paths ["src" "resources"]}
