{:deps
   {clj-python/libpython-clj {:mvn/version "2.025"}
    cnuernber/dtype-next {:mvn/version "10.113"}
    generateme/fastmath {:mvn/version "2.4.0"}
    hdbseg/hdbseg
      {:local/root
         "../vsa-binary-sparse-distributed-segments-clj/"}
    quil/quil {:mvn/version "4.3.1563"}}
 :paths ["src" "resources"]}
